:root {
    --clr-ligth: rgb(228, 208, 172);
    --clr-dark: rgb(26, 34, 49);

    --background: var(--clr-ligth);
    --foreground: var(--clr-dark);
}


.darkmode {
    --background: var(--clr-dark);
    --foreground: var(--clr-ligth);
}


body {
    background: var(--background);
    color: var(--foreground);
}

.button {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--clr-dark);
}

.active {
    background: var(--clr-ligth);
}